#################
## Visual Studio
#################
# User-specific files
*.suo
*.user
*.sln.docstates
# Build results
[Dd]ebug/
[Rr]elease/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.vspscc
.builds
*.dotCover
# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
# Visual Studio profiler
*.psess
*.vsp
# Others
[Bb]in
[Oo]bj
sql
TestResults
*.Cache
~$*


############
## Windows
############
Thumbs.db
Desktop.ini


#############
## Mac OS X
#############
.DS_Store
*.swp
*.lock
profile


##########
## XCode
##########
# User settings - remove pbxuser if using custom executable
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
# Workspace/user settings
xcuserdata/

# Build output
DerivedData/
build/
